.background{
    width:100%;
    height:900px;
    background-color:paleturquoise;
}

.loginBox{
    position:absolute;
    margin-top:200px;
    margin-left:70%;
    width:200px;
    
}

.loginInner{
    width:100%;
    height:40px;
    margin-top:20px;
}

.mine{
    display:inline-block;
    right:10px;
}

.brandContainer{
    width:200px;
    height:100%;
    
}

.brand{
    width:100%;
    height:200px;
    margin-bottom:10px;
    background-color:white;
}

.brandLogo{
    width:100%;
    height:100%;
    display:block;
}

.container{
    width:100%;
    height:100%;
    
}

.contentBlock{
    width:100%;
    height:40px;
    line-height:40px;
    margin-bottom:10px;
    
    
}

.el-row{
    width:100%;
    height:40px;
    float:left;
}

.el-button{
    float:left;
}

.newObj{
    width:500px;
    height:400px;
}